*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

#content{
    width: 90vw !important;
}

.content-container{
    background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
    background-blend-mode: screen;
    border-radius: 1em;
}


.navbar{
    border-radius: 1em;
    background-color: skyblue !important;
}

.navbar-brand {
    font-size: larger;
}

.nav-sub-text {
    font-size: 1em !important;
}
/* 
table {
max-height: 350px;
} */

.card{
    background-color: white !important;
    border-radius: 1em !important;
}

.card-title{
    color: #031627 !important;
}

.register-form input{
    font-size: 1em !important;
}
.main-wrapper{
    height: 95vh;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    z-index: 999;
}

.sidebar-container{
    height: 100%;
}

.nav-link{
    color: black !important;
}

.my-custom-scrollbar {
    position: relative;
    max-height: 75vh;
    overflow: auto;
    }

.table-wrapper-scroll-y {
display: block !important;
}


.ss-table  {
    border-collapse: collapse;
    background-color: white !important;
}

