{% extends "layout.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

    <div class="container d-flex align-items-top mt-5 min-vh-100 justify-content-center">
        <div class="row w-100 d-flex justify-content-center align-items-center h-100">
            <div class="col-12 mx-auto text-center">
            <h1>Edit User</h1>
            <form method="POST" name="edit_user_page">
                <div class="field">
                    <label for="title" class="label">Username</label>
                    <div class="control">
                    <input type="text" name="username" class="input" value="{{user.username}}" required/>
                    </div>
                </div>
                <div class="field">
                    <label for="title" class="label">Email</label>
                    <div class="control">
                    <input type="text" name="email" class="input" value="{{user.email}}" required/>
                    </div>
                </div>
                <div class="field">
                    <label for="title" class="label">Password</label>
                    <div class="control">
                    <input type="text" name="password" class="input" value="{{user.passw}}" required/>
                    </div>
                </div>
                <br>
                <a class="btn btn-primary" href="{{ url_for('list_users_page') }}">Save Changes</a>
                <a href="{{ url_for('list_users_page') }}" class="btn btn-secondary">Cancel</a>
            </form>
            </div>
        </div>
    </div>
{% endblock %}