{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="float-left" >List of Places</h1>
<button type="button" class="btn btn-light float-right mb-3" data-toggle="modal" data-target="#mymodal">Add Spot</button>
<div class="table-responsive">
<table class="table table-hover table-dark" >
<thead class = "table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Main Category</th>
        <th>Tags</th>
        <th>Link</th>
        <th>Action</th>
    </tr>
</thead>

<tbody class = "table-dark table table-striped">
    {% for place in places %}
        <tr>
            <td>{{ place.place_id }}</td>
            <td>{{ place.place_name }}</td>
            <td>{{ place.main_category }}</td>
            <td>{{ place.tags }}</td>
            <td><a href="{{ place.link }}">Link</a></td>
            <td>
                <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#modaledit">Edit</a>
                <a class="btn  btn-danger" role="button" aria-pressed="true"
                href="{{ url_for('delete_places_page', place_id=place.place_id) }}" onclick="return confirm('Are you sure you want to delete this place?')">Delete</a>
            </td>
        </tr>
    {% endfor %}
</tbody>

<!--Edit place modal-->
<div id="modaledit" class="modal fade" role="dialog">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Place</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="hidden" name="id" value="id">
                        <input type = "text" class="form-control" name="name"  value="name">
                    </div>
                    <div class="form-group">
                        <label>Main Category:</label>
                        <input type = "text" class="form-control" name="main_category" value="info">
                    </div>
                    <div class="form-group">
                        <label>Tags:</label>
                        <input type = "text" class="form-control" name="tags" value="tags" readonly>
                    </div>
                    <div class="form-group">
                        <label>Link:</label>
                        <input type = "text" class="form-control" name="link" value="reviews">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
         
<!--Add place modal-->
<div id="mymodal" class="modal fade" role="dialog">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Place</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('create_places_page')}}" method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type = "text" class="form-control" name="name" required="1">
                    </div>
                    <div class="form-group">
                        <label>Main Category:</label>
                        <input type = "text" class="form-control" name="main_category" required="1">
                    </div>
                    <div class="form-group">
                        <!-- TODO 0 1 arasında sayı al her bir tag için -->
                        <label>Tags:</label>
                        <input type = "text" class="form-control" name="tags" required="1">
                    </div>
                    <div class="form-group">
                        <label>Link:</label>
                        <input type = "text" class="form-control" name="link" required="1">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Place</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
